.result {
  display: none;
  text-align:center;
  color:rgb(30, 73, 73);
}

body {
  background-image: url("https://content.instructables.com/ORIG/FLQ/N6EU/HFPTIJFO/FLQN6EUHFPTIJFO.jpg?auto=webp&frame=1&width=1024&height=1024&fit=bounds&md=9bfe1b10eb39b923bf6a419b9fcc34c2");
  background-size:cover;
  background-repeat: none;
  opacity: 90%:
}

h1 {
  color:rgb(192, 227, 231);
  font-family:monospace;
  text-align: center;
  font-size: 60px;
}

h4 {
  color:rgb(3, 0, 0);
}

p {
  color:cadetblue;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 22px;
}

.row {
  text-align: center;
  font-size: 25px;
}

.card {
  padding: 20px;
  margin: 20px;
  border:rgb(40, 159, 206) 3px solid;
  box-shadow:rgb(55, 235, 211) 5px 2px 20px;
  background-color:rgba(255, 239, 213, 0.062);
  color: white;
}

.button , .btn btn-primary  {
	cursor: pointer;
	position: relative;
	padding: 1rem 5rem;
	border-radius: 3.75rem;
	line-height: 2.5rem;
	font-size: 2rem;
  text-align:center;
	border: 1px solid #012880;
	background-image: linear-gradient(-180deg, #f1c841 0%, #f15f0b 100%);
	box-shadow: 0 1rem 1.25rem 0 rgba(22,75,195,0.50),
							0 -0.25rem 1.5rem rgb(221, 219, 103) inset,
							0 0.75rem 0.5rem rgba(255,255,255, 0.4) inset,
							0 0.25rem 0.5rem 0 rgb(182, 168, 40) inset;
}

