/* .result {
  display: none;
} */
/* 
body {
  background-image: url("https://content.instructables.com/ORIG/FLQ/N6EU/HFPTIJFO/FLQN6EUHFPTIJFO.jpg?auto=webp&frame=1&width=1024&height=1024&fit=bounds&md=9bfe1b10eb39b923bf6a419b9fcc34c2");
  background-size:cover;
  background-repeat: none;
  opacity: 90%;
} */